{# actors.html.twig #}
{% extends '@GCFFront/base.html.twig' %}
{% block styleBloc %}
<style>
    /* fonctionnel */
    .hierarchie_result_niv_1 input {
        display: none;
    }
    .hierarchie_result_niv_1 input ~ ul {
        display: none;
    }
    .hierarchie_result_niv_1 input:checked ~ ul {
        display: block;
    }
    .hierarchie_result_niv_1 input ~ .fa-angle-double-down {
        display: none;
    }
    .hierarchie_result_niv_1 input:checked ~ .fa-angle-double-right {
        display: none;
    }
    .hierarchie_result_niv_1 input:checked ~ .fa-angle-double-down {
        display: inline;
    }

    /* habillage */
    .hierarchie_result_niv_1 li {
        display: block;
        font-family: 'Arial';
        font-size: 15px;
        padding: 0.2em;
        border: 1px solid transparent;
    }
    .hierarchie_result_niv_1 li:hover {
        border: 1px solid grey;
        border-radius: 3px;
        background-color: lightgrey;
    }
</style>
{% endblock %}

<<<<<<< HEAD
{% block stylesheets %}
    <style type="text/css">
        /* fonctionnel */
        .hierarchie_result_lvls label, .hierarchie_result_lvls ul, .hierarchie_result_lvls li { cursor: pointer; }

        .hierarchie_result_lvls input {
            display: none;
        }
        .hierarchie_result_lvls input ~ ul {
            display: none;
        }
        .hierarchie_result_lvlsinput:checked ~ ul {
            display: block;
        }
        .hierarchie_result_lvls input ~ .fa-angle-double-down {
            display: none;
        }
        .hierarchie_result_lvls input:checked ~ .fa-angle-double-right {
            display: none;
        }
        .hierarchie_result_lvls input:checked ~ .fa-angle-double-down {
            display: inline;
        }

        /* habillage */
        .hierarchie_result_lvls li {
            display: block;
            font-family: 'Arial';
            font-size: 15px;
            padding: 0.2em;
            border: 1px solid transparent;
        }
        .hierarchie_result_lvls li:hover {
            border: 1px solid grey;
            border-radius: 3px;
            background-color: lightgrey;
        }
    </style>
{% endblock %}

{% block body %}

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4" style="padding-left:0">
                <div class="panel-group" id="accordion">
                    {% for key, sector in sectors %}
                        {% if sector.secteurActeurParent == null  %}
                            <div class="panel panel-default">
                                <div class="panel-heading" >
                                    <h4 class="panel-title">
                                        <a href="{{ path('gcf_front_actorssectorpage', { 'id': sector.id}) }}" style="text-decoration: none;">{{ sector.nom }}</a>
                                    </h4>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                </div>
=======
{% block body %}

<div class="col-md-12">
    <div class="row">
        <div class="col-md-4" style="padding-left:0">
            <div class="panel-group" id="accordion">
                {% for key, sector in sectors %}
                    {% if sector.secteurActeurParent == null  %}
                        <div class="panel panel-default">
                            <div class="panel-heading" >
                                <h4 class="panel-title">
                                    <a href="{{ path('gcf_front_actorssectorpage', { 'id': sector.id}) }}" style="text-decoration: none;">{{ sector.nom }}</a>
                                </h4>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

>>>>>>> master
            </div>

<<<<<<< HEAD
            <div class="col-md-8">
                <div class="hierarchie_result_lvls">
                    {% block actorsSector %}
                    {% endblock %}
                </div>
=======
        <div class="col-md-8">
            <div class="hierarchie_result_lvl">
            {% block actorsSector %}
            {% endblock %}
>>>>>>> master
            </div>


        </div>
    </div>


    {% block organismePub %}{% endblock %}
    {% block organismePrive %}{% endblock %}
    {% block societeCivile %}{% endblock %}
    {% block parlement %}{% endblock %}

{% endblock %}


{% block javascripts %}

    <script>
        function getFils( value ){
            url = 'http://localhost/symfony/greenclimate/web/app_dev.php/fr/actors/get-actors/'+value;
            alert  ('oK');
            jQuery.ajax({
                url: url,
                type: 'POST',
                dataType: 'json',
                success:function(result , status) {

                    console.log(result, status);
                    toappend = '<ul>';
                    //console.log(result.length);
                    resultlength = result.length;

                    if (resultlength > 0) {

                        for (i = 0; i < resultlength; i++) {

                            projectName = result[i].nom;
                            projectParent = result[i].parent;
                            projectFils = result[i].fils;

                            if (projectParent === 'null') {

                                toappend += '<li>' + projectName + '</li>';
                                toappend += '<ul>';

                                for ( let fils of projectFils ){
                                    for (j = 0; j < resultlength; j++){

                                        if (result[j].nom === fils){
                                            toappend += '<li>'+ fils +'</li>' ;
                                            toappend += '<ul>';
                                            fils1 = result[j].fils;
                                            for ( let fils1 of result[j].fils ){
                                                for (k = 0; k < resultlength; k++){

                                                    if (result[k].nom === fils){

                                                        toappend += '<li>'+result[k].fils;
                                                        toappend += '</li>';

                                                        toappend += '<ul>';
                                                        fils2 = result[k].fils;
                                                        for ( let fils2 of result[k].fils ){
                                                            for (q = 0; q < resultlength; q++){

                                                                if (result[q].nom === fils1){

                                                                    for ( let fils3 of (result[q].fils)){
                                                                        toappend += '<li>'+fils3;
                                                                        toappend += '</li>';
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        toappend += '</ul>';

                                                    }
                                                }
                                            }

                                            toappend += '</ul>';

                                        }
                                    }
                                }

                                toappend += '</ul>';
                            }
                            break;
                        }

                        // for (i = 0; i < resultlength; i++) {
                        //
                        //     projectName = result[i].nom;
                        //     projectParent = result[i].parent;
                        //     projectFils = result[i].fils;
                        //
                        //     if ( projectParent !== 'null' ) {
                        //
                        //         toappend += '<ul>';
                        //            // toappend += '<li>' + projectName + '</li>';
                        //            // toappend += '<ul>';
                        //
                        //             for( k=0; k < projectFils.length; k++  ){
                        //
                        //                 toappend += '<li>' + projectFils[k] + '</li>';
                        //                 toappend += '<ul>';
                        //                 for (s = 0; s < resultlength; s++) {
                        //                     if (result[s] === projectFils[k] ){
                        //
                        //                     }
                        //                 }
                        //                 // toappend += '</ul>';
                        //             }
                        //
                        //            toappend += '</ul>';
                        //         toappend += '</ul>';



                        // toappend += '<ul>';
                        //
                        // for (j = 0; j < resultlength; j++) {
                        //
                        //     //console.log(i - 1);
                        //     a = i - 1;
                        //     if (a < 0) {
                        //         a = 0;
                        //     }
                        //
                        //     if (jQuery.inArray(projectName, result[a].fils)) {
                        //
                        //         toappend += '<li>' + projectName + '</li>';
                        //
                        //     }
                        // }
                        // toappend += '</ul>';
                        //}
                        //}
                    }



                    toappend += '</ul>';
                    $('.hierarchie_result_niv_1').append(toappend);
                },
                error:function(error){
                    console.log(error);
                    jQuery('.result-search').append(error.responseText);
                }
            });
        }



    </script>
{% endblock %}