{% extends '@GCFFront/Default/Actors/actors.html.twig' %}

{% block parlement %}

    <div style="margin-top: 20px;">
        <div class="row">

            <div class="col-md-3" >
                <table class="table table-bordered">
                    <thead>
                    </thead>
                    <tbody>
                    {% for parlement in parlements %}
                        <tr>
                            <td><a href="">{{ parlement.nom }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>
            <div class="col-md-9">
                <h1>Organigramme parlement</h1>
            </div>
        </div>
    </div>
{% endblock %}

