{% extends '@GCFFront/base.html.twig' %}

{% block title %} GCF - {{ pageTitle }} {% endblock %}

{% block body %}
<h1>Green Blogger Page</h1>
{% endblock %}

{% block javascripts %}

{% endblock %}

