{% extends "@GCFFront/base.html.twig" %}
{% block body %}



    <div class="col-md-12" style="margin-bottom: 50px">

            <div class="projects_news">
                {#Block Actualités#}
                <div class="col-md-6 col-sm-6 single_item " style="background: #f7f7f7;border: solid 2px white; padding: 10px">
                    <div class="intro">
                        <h2 style="margin-top: 0;">Actualités</h2>
                    </div>
                    <div class="col-sm-12 item">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0;">
                                <a href="#">
                                    <img class="img-fluid" src="http://placehold.it/75x75" style="max-width: 100%;max-height: 100%; width: 100%;" />
                                </a>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <h4 class="name">Project Name</h4>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravi...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 item">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0;">
                                <a href="#">
                                    <img class="img-fluid" src="http://placehold.it/75x75" style="max-width: 100%;max-height: 100%; width: 100%;" />
                                </a>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <h4 class="name">Project Name</h4>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravi...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 item">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0;">
                                <a href="#">
                                    <img class="img-fluid" src="http://placehold.it/75x75" style="max-width: 100%;max-height: 100%; width: 100%;" />
                                </a>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <h4 class="name">Project Name</h4>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravi...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 item" style=" direction: rtl;">
                        <button class="btn btn-default button_see_more">Voir Plus</button>
                    </div>
                </div>

                {#block Events#}
                <div class="col-md-6 col-sm-6 single_item " style="background: #f7f7f7;border: solid 2px white; padding: 10px">
                    <div class="intro">
                        <h2 style="margin-top: 0;">Events</h2>
                    </div>
                    <div class="col-sm-12 item">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0;">
                                <a href="#">
                                    <img class="img-fluid" src="http://placehold.it/75x75" style="max-width: 100%;max-height: 100%; width: 100%;" />
                                </a>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <h4 class="name">Project Name</h4>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravi...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 item">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0;">
                                <a href="#">
                                    <img class="img-fluid" src="http://placehold.it/75x75" style="max-width: 100%;max-height: 100%; width: 100%;" />
                                </a>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <h4 class="name">Project Name</h4>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravi...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 item">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0;">
                                <a href="#">
                                    <img class="img-fluid" src="http://placehold.it/75x75" style="max-width: 100%;max-height: 100%; width: 100%;" />
                                </a>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <h4 class="name">Project Name</h4>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravi...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 item" style=" direction: rtl;">
                        <button class="btn btn-default button_see_more">Voir Plus</button>
                    </div>
                </div>

                {#Block Documents#}
                <div class="col-md-6 col-sm-6 single_item " style="background: #f7f7f7;border: solid 2px white; padding: 10px">
                    <div class="intro">
                        <h2 style="margin-top: 0;">Actualités</h2>
                    </div>
                    <div class="col-sm-12 item">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0;">
                                <a href="#">
                                    <img class="img-fluid" src="http://placehold.it/75x75" style="max-width: 100%;max-height: 100%; width: 100%;" />
                                </a>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <h4 class="name">Project Name</h4>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravi...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 item">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0;">
                                <a href="#">
                                    <img class="img-fluid" src="http://placehold.it/75x75" style="max-width: 100%;max-height: 100%; width: 100%;" />
                                </a>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <h4 class="name">Project Name</h4>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravi...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 item">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0;">
                                <a href="#">
                                    <img class="img-fluid" src="http://placehold.it/75x75" style="max-width: 100%;max-height: 100%; width: 100%;" />
                                </a>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <h4 class="name">Project Name</h4>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravi...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 item" style=" direction: rtl;">
                        <button class="btn btn-default button_see_more">Voir Plus</button>
                    </div>
                </div>

                {#Block Videos#}
                <div class="col-md-6 col-sm-6 single_item " style="background: #f7f7f7;border: solid 2px white; padding: 10px">
                    <div class="intro">
                        <h2 style="margin-top: 0;">Actualités</h2>
                    </div>
                    <div class="col-sm-12 item">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0;">
                                <a href="#">
                                    <img class="img-fluid" src="http://placehold.it/75x75" style="max-width: 100%;max-height: 100%; width: 100%;" />
                                </a>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <h4 class="name">Project Name</h4>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravi...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 item">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0;">
                                <a href="#">
                                    <img class="img-fluid" src="http://placehold.it/75x75" style="max-width: 100%;max-height: 100%; width: 100%;" />
                                </a>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <h4 class="name">Project Name</h4>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravi...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 item">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3" style="padding: 0;">
                                <a href="#">
                                    <img class="img-fluid" src="http://placehold.it/75x75" style="max-width: 100%;max-height: 100%; width: 100%;" />
                                </a>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9">
                                <h4 class="name">Project Name</h4>
                                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravi...</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 item" style=" direction: rtl;">
                        <button class="btn btn-default button_see_more">Voir Plus</button>
                    </div>
                </div>

            </div>
    </div>


    <div>
        <div class="col-md-12" style="margin-bottom: 50px">
            <div class="projects-horizontal">
                    <div class="intro">
                        <h2 style="margin-top: 0;">Articles & Publications</h2>
                    </div>
                    <div class="row projects">
                        <div class="col-sm-6 item" style="background: #f7f7f7;border: solid 2px white;">
                            <div class="row">
                                <div class="col-md-12 col-lg-5">
                                    <a href="#">
                                        <img class="img-fluid" src="http://placehold.it/200x170" style="max-width: 100%;max-height: 100%" />
                                    </a>
                                </div>
                                <div class="col">
                                    <h3 class="name">Project Name</h3>
                                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 item" style="background: #f7f7f7;border: solid 2px white;">
                            <div class="row">
                                <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="http://placehold.it/200x170" style="max-width: 100%;max-height: 100%" /></a></div>
                                <div class="col">
                                    <h3 class="name">Project Name</h3>
                                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 item" style="background: #f7f7f7;border: solid 2px white;">
                            <div class="row">
                                <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="http://placehold.it/200x170" style="max-width: 100%;max-height: 100%" /></a></div>
                                <div class="col">
                                    <h3 class="name">Project Name</h3>
                                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 item" style="background: #f7f7f7;border: solid 2px white;">
                            <div class="row">
                                <div class="col-md-12 col-lg-5"><a href="#"><img class="img-fluid" src="http://placehold.it/200x170" style="max-width: 100%;max-height: 100%" /></a></div>
                                <div class="col">
                                    <h3 class="name">Project Name</h3>
                                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida.</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <h1>oooo</h1> 
{% endblock %}
