{% extends '@GCFFront/base.html.twig' %}


{% block title %} GCF - {{ pageTitle }} {% endblock %}

{% block body %}


    <div class="col-md-12">
        {{ dump(evenements) }}
    </div>

{% endblock %}